body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: slategray;
}

a:hover {
    color: darkred;
}

a:active {
    color: green;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
}

header .left-buttons,
header .right-buttons {
    display: flex;
    align-items: center;
}

header .left-buttons button,
header .right-buttons button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}

header .left-buttons button:hover,
header .right-buttons button:hover {
    background-color: #555;
}

header .logo img {
    display: flex;
    justify-content: center;
    height: 50px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #111;
}

.carousel .banner {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #000;
}

.products .product {
    margin: 10px;
    text-align: center;
}

.products .product img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 10px auto;
}

footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

.footer-links,
.policy-links {
    margin: 10px 0;
}

.footer-links a,
.policy-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover,
.policy-links a:hover {
    color: #ff0000;
}

.product-container {
    display: flex;
    gap: 20px;
}

.image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.info-section {
    flex: 1;
}

.cart_img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.cart_products_table {
    text-align: center;
}

/*.centered {*/
/*    display: flex;*/
/*    align-self: center;*/
/*    align-content: center;*/
/*    align-items: center;*/
/*}*/