{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ready24{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>
<body>
<header>
    <div class="logo">
        <a href="{% url 'index' %}"><img src="{% static 'shop/images/logo.avif' %}"></a>
    </div>
    <div class="headersbuttons">
        <div class="navbutton">
            example text
        </div>
        <div class="navbutton">
            example text
        </div>
        <div class="navbutton">
            example text
        </div>
    </div>
</header>
<div id="main_banners">
    example text1
</div>
<div id="category_list">
    <div class="category">
        cat1
    </div>
    <div class="category">
        cat2
    </div>
    <div class="category">
        cat3
    </div>
    <div class="category">
        cat4
    </div>
</div>
<footer>
    <p>example text3</p>
</footer>
</body>
</html>