{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready24 {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shop/css/main.css' %}">
</head>
<body>
<header>
    <div class="left-buttons">
        <button id="dropdownButton">Categories</button>
        <div id="dropdownMenu" style="display: none">
            {% for cat in categories %}
                <a href="/category/{{ cat.slug }}">{{ cat }}</a>
            {% endfor %}
        </div>
    <a href="/search/">
        <button id="searchButton">Search</button>
    </a>
    </div>
    <div class="logo">
        <a href="/"> <img src="{% static 'shop/images/../../../media/images/logo.avif' %}" alt="Logo"></a>
    </div>
    <div class="right-buttons">
        {% if user.is_authenticated %}
            <a href="/profile/{{ user.username }}/cart">
                <button class="login">Cart</button>
            </a>
            <a href="/profile/{{ user.username }}">
                <button class="login">{{ user.username }}</button>
            </a>
            <a href="/logout/">
                <button class="login">Logout</button>
            </a>
        {% else %}
            <a href="/login/">
                <button class="login">Login</button>
            </a>
        {% endif %}

    </div>
</header>
{% block content %}
    <main>
        {% for cat in categories %}
            <div><a href="category/{{ cat.slug }}"> {{ cat }}</div>
        {% endfor %}
    </main>

{% endblock %}

<script src="{% static 'shop/js/script.js' %}"></script>

</body>
</html>
