{% extends 'shop/base.html' %}
{% block content %}
    {% if cart_products %}
        <table>
            <tbody>
            <tr>
                <td colspan="2">Product</td>
                <td>Amount</td>
                <td>Total</td>
            </tr>
            {% for cart_item in cart_products %}
                <tr>
                    <td><img class="cart_img" src="{{ cart_item.product.picture_set.first.image.url }}"
                             alt="{{ cart_item.product.name }}"></td>
                    <td>
                        <div>
                            <a>{{ cart_item.product.name }}</a><br>
                            <a>{{ cart_item.product.calculate_price }}ISK</a>
                        </div>
                    </td>
                    <td>{{ cart_item.quantity }}</td>
                    <td>{{ cart_item.total_price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Cart is empty</h2>
    {% endif %}
{% endblock %}