{% extends 'shop/base.html' %}
{% block content %}
    {% if cart_products %}
        <div>
            <table border="1" class="cart_products_table" align="center">
                <tbody>
                <tr>
                    <td colspan="2">Product</td>
                    <td>Amount</td>
                    <td>Total</td>
                </tr>
                {% for cart_item in cart_products %}
                    <tr>
                        <td><img class="cart_img" src="{{ cart_item.product.picture_set.first.image.url }}"
                                 alt="{{ cart_item.product.name }}"></td>
                        <td width="65%">
                            <div>
                                <a>{{ cart_item.product.name }}</a><br>
                                <a>{{ cart_item.product.calculate_price }}ISK</a>
                            </div>
                        </td>
                        <td>{{ cart_item.quantity }}</td>
                        <td>{{ cart_item.total_price }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"> Total Price</td>
                    <td>{{ total }}</td>
                </tr>
                </tbody>
            </table>
            <br>
                <div align="center"><a href="{% url 'checkout' %}">
                    <button type="submit"> Checkout</button>
                </a></div>
        </div>
    {% else %}
        <div align="center">
            <h1>Cart is empty</h1>
        </div>
    {% endif %}
{% endblock %}