{% extends 'shop/base.html' %}

{% block content %}
    <div align="center">

        {% if not addresses %}
            <h1>No available Address </h1>

        {% else %}

            <h1>Choose Address:</h1>
            <form method="post" action="{% url 'checkout_summary' %}">
            {% csrf_token %}
            {% for address in addresses %}
                <div>
                    <input id="{{ address.name }}" type="radio" name="address_id" value="{{ address.id }}">
                    <label for="{{ address.name }}">{{ address.name }}</label>
                </div>
            {% endfor %}

        <br>
        <button type="submit">Checkout</button>
        </form>
        {% endif %}

        <div>

            <br><a href="{% url 'add_address' %}">
            <button>Add new address</button>
        </a>
        </div>
    </div>
{% endblock %}