{% extends 'shop/base.html' %}
{% block title %} Search {% endblock %}
{% block content %}
    <div align="center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>
    </div>
    <div align="center" class="products">
        {% for prod in products %}
            <a href="{% url 'product' slug=prod.slug %}">
                <div class="product">
                    <img
                            src="{{ prod.picture_set.first.image.url }}" alt="{{ prod.name }}"
                    >
                    <p>{{ prod.name }}</p>
                    <p>{{ prod.price }} ISK</p>
                </div>
            </a>
        {% empty %}
            <h3>Don't find matching products</h3>
        {% endfor %}
    </div>
{% endblock %}